<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://picsum.photos/200/300"
      alt="big-card photo"
      height="200px"
      width="300px"
    />
  </div>

  <div class="big-card__title">
    <h1>
      <a href="#"> Saiu a nova versão do angular </a>
    </h1>
  </div>

  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit
        enim labore culpa sint ad nisi Lorem pariatur mollit ex esse
        exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit
        nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor
        minim nulla est proident. Nostrud officia pariatur ut officia.
      </a>
    </p>
  </div>
</div>
