<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://picsum.photos/400/500"
      cardTitle="Lorem ipsum dolor sit amet, qui minim labore adipisicing."
      cardDescription="Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia."
    ></app-big-card>

    <app-big-card
      photoCover="https://picsum.photos/400/500"
      cardTitle="Lorem ipsum dolor sit amet, qui minim labore adipisicing."
      cardDescription="Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia."
    ></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
      cardTitle="Lorem ipsum dolor sit amet, qui minim labore adipisicing."
      photoCover="https://picsum.photos/seed/picsum/200/300"
    ></app-small-card>
    <app-small-card
      cardTitle="Qui minim labore adipisicing."
      photoCover="https://picsum.photos/seed/picsum/200/300"
    ></app-small-card>
    <app-small-card
      cardTitle="Lorem ipsum dolor sit amet."
      photoCover="https://picsum.photos/seed/picsum/200/300"
    ></app-small-card>
  </div>
</div>
